@model IEnumerable<HelpingHands_V2.Models.PrefferedSuburb>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nurse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suburb)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.PrefferedSuburbs)
        {
        <tr>
            <td>
                @item.NurseFirstname @item.NurseLastname
            </td>
            <td>
                @item.SuburbName
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
