@model IEnumerable<HelpingHands_V2.Models.PrefferedSuburb>

@{
    ViewData["Title"] = "Preferred Suburbs";
    var Message = ViewBag.Message;
}

<h2 class="text-center display-4">Your Suburbs of Operation</h2>
@if (Message != null)
{
    <p class="text-decoration-underline text-danger">@Message</p>
}
<hr />
<a asp-action="Create" asp-route-id="@User.FindFirst("UserId")!.Value" class="btn btn-primary">Create New</a>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nurse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suburb)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.PrefferedSuburbs)
        {
            <tr>
                <td>
                    @item.NurseFirstname @item.NurseLastname
                </td>
                <td>
                    @item.SuburbName
                </td>
                <td>
                    <a asp-action="Details" asp-route-nurseId="@item.NurseId" asp-route-suburbId="@item.SuburbId" class="btn btn-info">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
