@model HelpingHands_V2.Models.EndUser

@{
    ViewData["Title"] = @User.FindFirst("Username")!.Value;
    var Message = ViewBag.Message;
}

<h2 class="dislay-4 text-center">Your Profile</h2>
@if (Message != null)
{
    <p class="text-decoration-underline text-danger">@Message</p>
}
@if (User.IsInRole("P"))
{
    <a asp-action="Dashboard" asp-controller="Patient" asp-route-id="@User.FindFirst("UserId")!.Value" class="btn btn-secondary">Back</a>
}
else if (User.IsInRole("N"))
{
    <a asp-action="Dashboard" asp-controller="Nurse" asp-route-id="@User.FindFirst("UserId")!.Value" class="btn btn-secondary">Back</a>
}
else if (User.IsInRole("O"))
{
    <a asp-action="Dashboard" asp-controller="Manager" class="btn btn-secondary">Back</a>
}
else
{
    <a asp-action="Dashboard" asp-controller="Admin" class="btn btn-secondary">Back</a>
}

<hr />
<div class="row">
    <dl class="col-6">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Gender)
        </dd>
    </dl>
    <dl class="col-6">
        <dt class="col-4">
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>
        <dd class="col-8">
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Idnumber)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Idnumber)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ProfilePicture)
        </dt>
        <dd class="col-sm-8">
            <img src={@Model.ProfilePicture} alt={@Model?.ProfilePictureName} />
        </dd>
    </dl>
</div>
<div class="btn-group" role="group" aria-label="Control Panel">
    <a asp-action="Edit" asp-route-id="@Model?.UserId" class="btn btn-success">Edit</a>
    <a asp-action="ChangePassword" asp-controller="EndUser" asp-route-id="@Model?.UserId" class="btn btn-success">ChangePassword</a>
    <form asp-action="Delete">
        <input asp-for="UserId" value="@Model?.UserId" type="hidden" />
        <input type="submit" value="Delete Account" onclick="return confirm('Are you sure you want to delete your account @Model?.Firstname @Model?.Lastname?')" class="btn btn-danger" />
    </form>
</div>
