@model IEnumerable<HelpingHands_V2.Models.Suburb>

@{
    ViewData["Title"] = "Suburbs";
    var Message = ViewBag.Message;
}

<h2 class="display-4 text-center">Suburbs</h2>
@if (Message != null)
{
    <p class="text-decoration-underline text-danger">@Message</p>
}
<hr />
<a asp-action="Create" class="btn btn-primary">Create New</a>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SuburbName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SuburbName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City!.CityName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.SuburbId" class="btn btn-info">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
