@model IEnumerable<HelpingHands_V2.Models.Suburb>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SuburbName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Suburbs)
        {
        <tr>
            <td>
                @item.SuburbName
            </td>
            <td>
                @item.PostalCode
            </td>
            <td>
                @item.CityName
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SuburbId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SuburbId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SuburbId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
