@model IEnumerable<HelpingHands_V2.Models.Wound>

@{
    ViewData["Title"] = "Wounds";
    var Message = ViewBag.Message;
}

<h2 class="display-4 text-center">Wounds</h2>
@if (Message != null)
{
    <p class="text-decoration-underline text-danger">@Message</p>
}
<hr />
<a asp-action="Create" class="btn btn-primary">Create New</a>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WoundName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WoundDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WoundName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WoundDescription)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.WoundId" class="btn btn-info">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
