@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HelpingHands_V2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HelpingHands_V2.styles.css" asp-append-version="true" />

    <!--JQuery import-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!--DataTables CSS and JS imports-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

    <!--Bootstrap imports-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.2.0/introjs.css" rel="stylesheet" />
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
<body class="d-flex flex-column min-vh-100">
    <header class="header">
        <nav class="navbar navbar-expand-lg bg-body-tetiary navbar-light bg-white border-bottom box-shadow mb-3 justify-content-center sticky-top nav-underline">
            <div class="container-fluid">
                <div class="col-2 d-flex justify-content-center">
                    <a class=" navbar-brand" asp-controller="Home" asp-action="Index">
                        <img src="/Media/HelpingHands.png" width="55" height="50" class="d-inline-block align-top" alt="Helping Hands"> Helping Hands
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse col-7" id="navbarScroll">

                    <ul class="navbar-nav flex-grow-1 justify-content-center navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.IsInRole("A"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Dashboard">Dashboard</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown">
                                    Employee Management
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" asp-controller="EndUser" asp-action="AddUser">Add Manaager</a></li>
                                    <li><a class="dropdown-item" asp-controller="EndUser" asp-action="Index" asp-route-id="@User.FindFirst("UserId")!.Value">Managers</a></li>
                                    <li><a class="dropdown-item" asp-controller="Nurse" asp-action="Index" asp-route-id="@User.FindFirst("UserId")!.Value">Nurses</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="btn dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    System Details
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark">

                                    <li>
                                        <a class="dropdown-item" asp-controller="Condition" asp-action="Index">Conditions</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="City" asp-action="Index">Cities</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Suburb" asp-action="Index">Suburbs</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Wound" asp-action="Index">Wounds</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="btn dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Business Operations
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" asp-controller="Business" asp-action="Details">Business Information</a></li>
                                    <li> <a class="dropdown-item" asp-controller="Operation" asp-action="Index">Operational Hours</a></li>
                                </ul>
                            </li>
                        }
                        else if (User.IsInRole("P"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Patient" asp-action="Dashboard" asp-route-id="@User.FindFirst("UserId")!.Value">Dashboard</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="btn dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Contracts
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" asp-controller="Contract" asp-action="Create" asp-route-id="@User.FindFirst("UserId")!.Value">Start New</a></li>
                                    <li><a class="dropdown-item" asp-controller="Contract" asp-action="Index" asp-route-id="@User.FindFirst("UserId")!.Value" asp-route-command="patient">All Contracts</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Visit" asp-action="Index" asp-route-command="patient" asp-route-id="@User.FindFirst("UserId")!.Value">Visits</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="PatientCondition" asp-action="IndexForPatient" asp-route-id=@User.FindFirst("UserId")!.Value>Chronic Conditions</a>
                            </li>
                        }
                        else if (User.IsInRole("N"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Nurse" asp-action="Dashboard" asp-route-id="@User.FindFirst("UserId")!.Value">Dashboard</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="btn dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Contracts
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" asp-controller="Contract" asp-action="Index" asp-route-id="@User.FindFirst("UserId")!.Value" asp-route-command="current">Current Contracts</a></li>
                                    <li><a class="dropdown-item" asp-controller="Contract" asp-action="Index" asp-route-id="@User.FindFirst("UserId")!.Value" asp-route-command="unassigned">Unassigned Contracts</a></li>
                                    <li><a class="dropdown-item" asp-controller="Contract" asp-action="Index" asp-route-id="@User.FindFirst("UserId")!.Value" asp-route-command="past">Past Contracts</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="btn dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Visits
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" asp-controller="Nurse" asp-action="Visits" asp-route-id="@User.FindFirst("UserId")!.Value" asp-route-command="upcoming">Upcoming Visits</a></li>
                                    <li><a class="dropdown-item" asp-controller="Nurse" asp-action="VisitRange">Visits within range</a></li>
                                    <li><a class="dropdown-item" asp-controller="Nurse" asp-action="Visits" asp-route-id="@User.FindFirst("UserId")!.Value" asp-route-command="past">Past Visits</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="PrefferedSuburb" asp-action="IndexForNurse" asp-route-id="@User.FindFirst("UserId")!.Value">Prefered Suburbs</a>
                            </li>
                        }
                        else if (User.IsInRole("O"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Manager" asp-action="Dashboard">Dashboard</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="btn dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Contracts
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" asp-controller="Manager" asp-action="NewContracts">New Contracts</a></li>
                                    <li><a class="dropdown-item" asp-controller="Manager" asp-action="VisitRange">Visits within range</a></li>
                                    <li><a class="dropdown-item" asp-controller="Manager" asp-action="ContractRange">Contracts within range</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Nurse" asp-action="Index" asp-route-command="waiting">Pending Nurses</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-2">
                    <ul class="nav justify-content-center">
                        @if (User.Identity!.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                    Profile
                                </a>
                                <ul class="dropdown-menu">
                                    @if (User.IsInRole("N"))
                                    {
                                        <li>
                                            <a class="dropdown-item" asp-controller="Nurse" asp-action="Profile" asp-route-id="@User.FindFirst("UserId")!.Value">Account</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="Nurse" asp-action="Edit" asp-route-id="@User.FindFirst("UserId")!.Value">Edit Information</a>
                                        </li>
                                    }
                                    else if (User.IsInRole("P"))
                                    {
                                        <li>
                                            <a class="dropdown-item" asp-controller="Patient" asp-action="Profile" asp-route-id="@User.FindFirst("UserId")!.Value">Account</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="Patient" asp-action="Edit" asp-route-id="@User.FindFirst("UserId")!.Value">Edit Information</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a class="dropdown-item" asp-controller="EndUser" asp-action="Profile" asp-route-id="@User.FindFirst("UserId")!.Value">Account</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-action="Profile" asp-action="Edit" asp-route-id="@User.FindFirst("UserId")!.Value">Edit Information</a>
                                        </li>
                                    }
                                    <li>
                                        <a asp-action="ChangePassword" asp-controller="EndUser" asp-route-id="@User.FindFirst("UserId")!.Value" class="dropdown-item">Change Password</a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="EndUser" asp-action="Logout">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="EndUser" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="EndUser" asp-action="Register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid min-vh-100 overflow-auto">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="sticky-lg-top">
        <footer class="text-center text-lg-start text-white">
            <div class="d-flex justify-content-between p-4">
                &copy;<a>PoweredByLithi</a> - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

    <!--DataTables initialization-->
    <script>
        let table = new DataTable('#myTable', {
            // options
        });

        // Bootstrap tool tips
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~.../jquery-validation/dist/jquery.validate.js"></script>
    <script src="~.../jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
    
    <!--IntroJS scripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.2.0/intro.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.2.0/intro.min.js.map"></script>

    <!--Bootstrap scripts-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<script>
    introJs().setOptions(
        "dontShowAgain", true
                    {
            steps: [{
                title: "Welcome",
                element: document.querySelector('#Welcome'),
                intro: "Hello World"
            }]
        }).start();
</script>
</html>
