@model IEnumerable<HelpingHands_V2.Models.Condition>

@{
    ViewData["Title"] = "Conditions";
}

<h2 class="display-4 text-center">Conditions</h2>
<hr />
<a asp-action="Create" class="btn btn-primary">Create New</a>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConditionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConditionDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Conditions)
        {
            <tr>
                <td>
                    @item.ConditionName
                </td>
                <td>
                    @item.ConditionDescription
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ConditionId" class="btn btn-info">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
