@model HelpingHands_V2.Models.CareContract
@{
    ViewData["Title"] = "Details";
    var Contract = ViewBag.Contract;
    var Message = ViewBag.Message;
}

<h2 class="display-4 text-center">Contract Details</h2>
@if (Message != null)
{
    <p class="text-decoration-underline text-danger">@Message</p>
}
@if (User.IsInRole("N"))
{
    <a asp-action="IndexForUser" asp-route-id="@User.FindFirst("UserId")!.Value" asp-route-command="current" class="btn btn-secondary">Back</a>
} else if(User.IsInRole("P"))
{
    <a asp-action="IndexForUser" asp-route-id="@User.FindFirst("UserId")!.Value" asp-route-command="patient" class="btn btn-secondary">Back</a>
}
else if (User.IsInRole("O"))
{
    <a asp-action="NewContracts" asp-controller="Manager" class="btn btn-secondary">Back</a>
}
else
{
    <a asp-action="Index" class="btn btn-secondary">Back</a>
}
<hr />
<div class="row">
    <dl class="col-6">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ContractStatus)
        </dt>
        <dd class = "col-sm-8">
            @Contract.ContractStatus
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ContractDate)
        </dt>
        <dd class = "col-sm-8">
            @Contract.ContractDate.Day @Contract.ContractDate.ToString("dddd") @Contract.ContractDate.ToString("MMM")
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.AddressLineOne)
        </dt>
        <dd class = "col-sm-8">
            @Contract.AddressLineOne
        </dd>
        @if (Contract.AddressLineTwo != null)
        {
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.AddressLineTwo)
            </dt>
            <dd class="col-sm-8">
                @Contract.AddressLineTwo
            </dd>
        }
        @if (Contract.StartDate != null)
        {
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd class="col-sm-8">
                @Contract.StartDate.Day @Contract.StartDate.ToString("dddd") @Contract.StartDate.ToString("MMM")
            </dd>
        }
        @if (Contract.EndDate != null)
        {

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd class="col-sm-8">
                @Contract.EndDate.Day @Contract.EndDate.ToString("dddd") @Contract.EndDate.ToString("MMM")
            </dd>
        }
        </dl>
        <dl class="col-6">
        @if (Contract.ContractComment != null)
        {
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ContractComment)
            </dt>
            <dd class="col-sm-8">
                @Contract.ContractComment
            </dd>
        }
        @if (Contract.NurseFirstname != null)
        {
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Nurse)
            </dt>
            <dd class="col-sm-8">
                @Contract.NurseFirstname @Contract.NurseLastname
            </dd>
        }
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-8">
            @Contract.PatientFirstname @Contract.PatientLastname
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Suburb)
        </dt>
        <dd class = "col-sm-8">
            @Contract.SuburbName
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Wound)
        </dt>
        <dd class = "col-sm-8">
            @Contract.WoundName
        </dd>
    </dl>
</div>
<div class="btn-group" role="group" aria-label="Control Panel">
    @if(User.IsInRole("N"))
    {

        <a asp-action="Create" asp-controller="Visit" asp-route-id="@Contract.ContractId" class="btn btn-success">Add Visit</a>
        <a asp-action="IndexForUser" asp-controller="Visit" asp-route-id="@Contract.ContractId" asp-route-command="nurse"class="btn btn-success">View Visits</a>
        <a asp-action="Edit" asp-route-id="@Contract.ContractId" class="btn btn-danger">Close</a>
    }
    else if (User.IsInRole("O") || User.IsInRole("P"))
    {
        <a asp-action="Edit" asp-route-id="@Contract.ContractId" class="btn btn-success">Assign</a>

        <form asp-action="Delete">
            <input asp-for="ContractId" value="@Contract.ContractId" type="hidden" />
            <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete contract: #@Contract.ContractId?')" class="btn btn-danger" />
        </form>
    }
    
</div>
