@model HelpingHands_V2.Models.CareContract
@{
    ViewData["Title"] = "Details";
    var Message = ViewBag.Message;
}

<h2 class="display-4 text-center">Contract Details</h2>
@if (Message != null)
{
    <p class="text-decoration-underline text-danger">@Message</p>
}
@if (User.IsInRole("N"))
{
    <a asp-action="IndexForUser" asp-route-id="@User.FindFirst("UserId")!.Value" asp-route-command="current" class="btn btn-secondary">Back</a>
} else if(User.IsInRole("P"))
{
    <a asp-action="IndexForUser" asp-route-id="@User.FindFirst("UserId")!.Value" asp-route-command="patient" class="btn btn-secondary">Back</a>
}
else if (User.IsInRole("O"))
{
    <a asp-action="NewContracts" asp-controller="Manager" class="btn btn-secondary">Back</a>
}
else
{
    <a asp-action="Index" class="btn btn-secondary">Back</a>
}
<hr />
<div class="row">
    <dl class="col-6">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ContractStatus)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ContractStatus)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ContractDate)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ContractDate)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.AddressLineOne)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AddressLineOne)
        </dd>
        @if (Model?.AddressLineTwo != null)
        {
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.AddressLineTwo)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.AddressLineTwo)
            </dd>
        }
        @if (Model?.StartDate != null)
        {
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.StartDate)
            </dd>
        }
        @if (Model?.EndDate != null)
        {

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.EndDate)
            </dd>
        }
        </dl>
        <dl class="col-6">
        @if (Model?.ContractComment != null)
        {
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ContractComment)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ContractComment)
            </dd>
        }
        @if (Model?.Nurse != null)
        {
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Nurse)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Nurse!.FullName)
            </dd>
        }
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Patient!.FullName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Suburb)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Suburb!.SuburbName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Wound)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Wound!.WoundName)
        </dd>
    </dl>
</div>
<div class="btn-group" role="group" aria-label="Control Panel">
    <a asp-action="Index" asp-controller="Visit" asp-route-id="@Model?.ContractId" asp-route-command="nurse" class="btn btn-success">View Visits</a>
    <a asp-action="Edit" asp-route-id="@Model?.ContractId" class="btn btn-success">Edit</a>
    @if(User.IsInRole("N"))
    {
        @if (Model?.StartDate != null)
        {

            <a asp-action="Create" asp-controller="Visit" asp-route-id="@Model?.ContractId" class="btn btn-success">Add Visit</a>
        }
    }
    else if (User.IsInRole("O") || User.IsInRole("P"))
    {
        <form asp-action="Delete">
            <input asp-for="ContractId" value="@Model?.ContractId" type="hidden" />
            <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete contract: #@Model?.ContractId?')" class="btn btn-danger" />
        </form>
    }
    
</div>
 @*@if (Contract.StartDate != null)
        {
<div class="row">
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>
                    Visit Date
                </th>
                <th>
                    Approximate Time
                </th>
                <th>
                    Arrival
                </th>
                <th>
                    Departure
                </th>
                <th>
                    Wound Condition
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if(Visits.Count > 0)
            {
                @foreach (var item in Visits)
                {
                    <tr>
                        <td>
                            @item.VisitDate.Day @item.VisitDate.ToString("MMM")
                        </td>
                        <td>
                            @item.ApproxTime
                        </td>
                        @if(item.Arrival != null)
                        {
                            <td>
                                @item.Arrival
                            </td>
                        } else
                        {
                            <td>
                                N/A
                            </td>
                        }

                        @if (item.Departure != null)
                        {
                            <td>
                                @item.Departure
                            </td>
                        }
                        else
                        {

                            <td>
                                N/A
                            </td>
                        }

                        @if (item.WoundCondition != null)
                        {
                            <td>
                                @item.WoundCondition
                            </td>
                        }
                        else
                        {

                            <td>
                                N/A
                            </td>
                        }
                        <td>
                            <a asp-action="Details" asp-controller="Visit" asp-route-id="@item.VisitId" class="btn btn-info">View More</a>
                        </td>
                    </tr>
                }
            } else
            {
                <h5>No Visits recorded yet</h5>
            }
        </tbody>
    </table>

</div>}*@