@model HelpingHands_V2.Models.CareContract

@{
    ViewData["Title"] = "Edit";
    var Contract = ViewBag.Contract;
}

<h2 class="display-4 text-center">Edit Care Contract</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ContractId" value="@Contract.ContractId" type="hidden" />
            <input asp-for="ContractStatus" value="A" hidden/>
            <input asp-for="PatientId" hidden value="@Contract.PatientId" />
            <input asp-for="WoundId" hidden value="@Contract.WoundId" />
            <input asp-for="AddressLineOne" value="@Contract.AddressLineOne" hidden />
            <input asp-for="AddressLineTwo" value="@Contract.AddressLineTwo" hidden />
            <input asp-for="SuburbId" value="@Contract.SuburbId" hidden />
            <input asp-for="ContractComment" value="@Contract.ContractComment" hidden />
            <input asp-for="NurseId" value="@User.FindFirst("UserId")!.Value" hidden readonly />
            <div class="form-group">
                <label asp-for="ContractStatus" class="control-label"></label>
                <input asp-for="ContractStatus" value="@Contract.ContractStatus" class="form-control" />
                <span asp-validation-for="ContractStatus" class="text-danger"></span>
            </div>
            @if (Contract.ContractDate != null)
            {
                <div class="form-group">
                    <label asp-for="ContractDate" class="control-label"></label>
                    <input asp-for="ContractDate" value="@Contract.ContractDate.ToString("yyyy-MM-dd")" type="date" class="form-control" />
                    <span asp-validation-for="ContractDate" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="ContractDate" class="control-label"></label>
                    <input asp-for="ContractDate" type="date" class="form-control" />
                    <span asp-validation-for="ContractDate" class="text-danger"></span>
                </div>
            }
            @if (Contract.StartDate != null)
            {
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" value="@Contract.StartDate.ToString("yyyy-MM-dd")" type="date" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" type="date" class="form-control" value="ViewBag.CurrentDate"/>
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
            }
            @if (Contract.EndDate != null)
            {
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" value="@Contract.EndDate.ToString("yyyy-MM-dd")" type="date" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            }else{
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" type="date" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>