@model IEnumerable<HelpingHands_V2.Models.CareContract>

@{
    ViewData["Title"] = "Contracts";
    var Contracts = ViewBag.Contracts;
    var Message = ViewBag.Message;
}

<h2 class="display-4 text-center">Contracts</h2>
@if (Message != null)
{
    <p class="text-decoration-underline text-danger">@Message</p>
}

@if (User.IsInRole("N"))
{
    <a asp-action="Dashboard" asp-controller="Nurse" asp-route-id="@User.FindFirst("UserId")!.Value" class="btn btn-secondary">Dashboard</a>
}
@if (User.IsInRole("P"))
{
    <a asp-action="Dashboard" asp-controller="Patient" asp-route-id="@User.FindFirst("UserId")!.Value" class="btn btn-secondary">Back</a>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
}
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContractStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractDate)
            </th>
            @if (User.IsInRole("P"))
            {
            <th>
                @Html.DisplayNameFor(model => model.Nurse)
            </th>
            }
            @if (User.IsInRole("N"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Patient)
                </th>
                @* <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th> *@
            }
            <th>
                @Html.DisplayNameFor(model => model.Wound)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Contracts.Count > 0)
        {
            @foreach (var item in Contracts)
            {
                <tr>
                    <td>
                        @item.ContractStatus
                    </td>
                    <td>
                        @item.ContractDate.Day @item.ContractDate.ToString("MMMM")
                    </td>
                    @if (User.IsInRole("P"))
                    {
                        @if(@item.NurseFirstname == null)
                        {
                            <td>N/A</td>
                        }else {
                        <td>
                            @item.NurseFirstname @item.NurseLastname
                            </td>
                        }
                    }
                    @if (User.IsInRole("N"))
                    {
                        <td>
                            @item.PatientFirstname @item.PatientLastname
                        </td>
                            @* <td>
                                @item.StartDate.Day @item.StartDate.ToString("MMMM")
                            </td> *@
                    }
                    <td>
                        @item.WoundName
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ContractId" class="btn btn-info">View</a>
                    </td>
                </tr>
            }
        } else
        {
            <h5>No Contracts were found</h5>
        }
    </tbody>
</table>
