@model IEnumerable<HelpingHands_V2.Models.CareContract>

@{
    ViewData["Title"] = "Contracts";
    var Message = ViewBag.Message;
}

<h2 class="display-4 text-center">Contracts</h2>
@if (Message != null)
{
    <p class="text-decoration-underline text-danger">@Message</p>
}
<hr />
@if (User.IsInRole("P"))
{
    <a asp-action="Create" class="btn btn-primary">Create New</a>
}
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContractStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nurse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wound)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suburb)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nurse!.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient!.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wound!.WoundName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Suburb!.SuburbName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ContractId" class="btn btn-info">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
