@model HelpingHands_V2.Models.OperationHour

@{
    ViewData["Title"] = "Details";
    var Message = ViewBag.Message;
}

<h2 class="display-4 text-center">Details</h2>
@if (Message != null)
{
    <p class="text-decoration-underline text-danger">@Message</p>
}
<a asp-action="Index" class="btn btn-secondary">Back</a>
<hr />

<div class="row">
    <dl>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OperationDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => modelItem.OperationDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpenTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => modelItem.OpenTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CloseTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => modelItem.CloseTime)
        </dd>
    </dl>
</div>
<div class="btn-group" role="group" aria-label="Control Panel">
    <a asp-action="Edit" asp-route-id="@Model?.OperationHoursId" class="btn btn-success">Edit</a>
    <form asp-action="Delete">
        <input asp-for="OperationHoursId" value="@Model?.OperationHoursId" type="hidden" />
        <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this record?')" class="btn btn-danger" />
    </form>
</div>
