@model IEnumerable<HelpingHands_V2.Models.OperationHour>
@{
    ViewData["Title"] = "Operational Hours";
    var Message = ViewBag.Message;
}

<h2 class="display-4 text-center">Operational Hours</h2>
@if (Message != null)
{
    <p class="text-decoration-underline text-danger">@Message</p>
}
<hr />
<a asp-action="Create" class="btn btn-primary">Create New</a>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.OperationDay)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.OpenTime)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CloseTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var item in Model)
        {
            <tr scope="row">
                <td>
                    @Html.DisplayFor(modelItem => item.OperationDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpenTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CloseTime)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.OperationHoursId" class="btn btn-info">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>