@model HelpingHands_V2.ViewModels.OperationsViewModel
@{
    ViewData["Title"] = "Operational Hours";
    var Message = ViewBag.Message;
}

<h2 class="display-4 text-center">Operational Hours</h2>
@if (Message != null)
{
    <p class="text-decoration-underline text-danger">@Message</p>
}
<div class="px-5">
    <a asp-action="Dashboard" asp-controller="Admin" class="btn btn-secondary">Dashboard</a>
</div>
<div class="px-5">
    <hr />
</div>

<div class="container-fluid">
    <div class="row row-cols-md-2 row-cols-auto justify-content-evenly py-md-3">
        <section class="col-md-6">
            <div class="row border border-3 rounded-3 p-2 m-2">
                <table class="table" id="myTable">
                    <thead>
                        <tr>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.OperationHour!.OperationDay)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.OperationHour!.OpenTime)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.OperationHour!.CloseTime)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        @foreach (var item in Model.OperationHours!)
                        {
                            <tr scope="row">
                                <td>
                                    @Html.DisplayFor(modelItem => item.OperationDay)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OpenTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CloseTime)
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <form asp-action="Index">
                                            <input asp-for="@item.OperationHoursId" name="OperationHoursId" type="hidden" />
                                            <input type="submit" value="Edit" class="btn btn-success" />
                                        </form>
                                        <form asp-action="Delete">
                                            <input asp-for="@item.OperationHoursId" name="OperationHoursId" type="hidden" />
                                            <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this record?')" class="btn btn-danger" />
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>
        <aside class="col-md-3">
            <div class="row justify-content-center row-cols-1 border border-3 rounded-3 p-2 m-2">
                <h2 class="h3 text-center">Add Operation Hours</h2>
                <section class="px-5">
                    <hr />
                </section>
                <form asp-action="Create" class="row justify-content-center">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="col-md-11 p-md-1">
                        <div class="input-group-sm">
                            <label asp-for="OperationHour!.OperationDay" class="form-label"></label>
                            <input name="OperationDay" class="form-control" />
                            <span asp-validation-for="OperationHour!.OperationDay" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-11 p-md-1">
                        <div class="input-group-sm">
                            <label asp-for="OperationHour!.OpenTime" class="form-label"></label>
                            <input name="OpenTime" type="time" class="form-control" />
                            <span asp-validation-for="OperationHour!.OpenTime" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-11 p-md-1">
                        <div class="input-group-sm">
                            <label asp-for="OperationHour!.CloseTime" class="form-label"></label>
                            <input name="CloseTime" type="time" class="form-control" />
                            <span asp-validation-for="OperationHour!.CloseTime" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row justify-content-center g-2 py-4">
                            <div class="btn-group col-auto">
                                <input type="submit" value="Add" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row justify-content-center row-cols-1 border border-3 rounded-3 p-2 m-2">
                @if (Model.OperationHour != null)
                {
                    <h2 class="h3 text-center">Edit @Model?.OperationHour.OperationDay Hours</h2>
                }
                else
                {
                    <h2 class="h3 text-center">Select Day to edit</h2>
                }
                <section class="px-5">
                    <hr />
                </section>
                <form asp-action="Edit" class="row justify-content-center">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="OperationHour!.OperationHoursId" type="hidden" />
                    <div class="col-md-11 p-md-1">
                        <div class="input-group-sm">
                            <label asp-for="OperationHour!.OperationDay" class="form-label"></label>
                            <input asp-for="OperationHour!.OperationDay" type="text" class="form-control" />
                            <span asp-validation-for="OperationHour!.OperationDay" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-11 p-md-1">
                        <div class="input-group-sm">
                            <label asp-for="OperationHour!.OpenTime" class="form-label"></label>
                            <input asp-for="OperationHour!.OpenTime" type="time" class="form-control" />
                            <span asp-validation-for="OperationHour!.OpenTime" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-11 p-md-1">
                        <div class="input-group-sm">
                            <label asp-for="OperationHour!.CloseTime" class="form-label"></label>
                            <input asp-for="OperationHour!.CloseTime" type="time" class="form-control" />
                            <span asp-validation-for="OperationHour!.CloseTime" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row justify-content-center g-2 py-4">
                            <div class="btn-group col-auto">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </aside>
    </div>
</div>