@model IEnumerable<HelpingHands_V2.Models.OperationHour>
@{
    ViewData["Title"] = "Operational Hours";
}

<h2 class="display-4 text-center">Operational Hours</h2>

<p>
    <a asp-action="Create">Add New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.OperationDay)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.OpenTime)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CloseTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var item in ViewBag.Operations)
        {
            <tr scope="row">
                <td>@item.OperationDay</td>
                <td>@item.OpenTime</td>
                <td>@item.CloseTime</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OperationHoursId">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.OperationHoursId">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.OperationHoursId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>