@{
    ViewData["Title"] = "Patient Dashboard";
}

<h2 class="display-5 text-center">Patient Dashboard</h2>


<hr />
<div class="cpntainer-fluid" style="height: auto">
    <section class="row" style="overflow-x:scroll">

        <div class="card bg-dark text-white text-center" style="width: 15rem;height:10rem;">
            <a asp-controller="Contract" asp-action="Create">
                <img src="/Media/plus.png" alt="firstExample" class="card-img" style="background-color: darkgray; background-blend-mode: multiply; height: 100%; width: 100%;object-fit: contain;" />
                <div class="card-img-overlay">
                    <h5 class="card-title">Create Contract</h5>
                </div>
            </a>
        </div>
        <div class="card bg-dark text-white text-center" style="width: 15rem;height:10rem;">
            <img src="/Media/contract.png" alt="firstExample" class="card-img" style="background-color: darkgray; background-blend-mode: multiply; height: 100%; width: 100%;object-fit: contain;" />
            <div class="card-img-overlay">
                <h5 class="card-title" style="color:black">Past Contracts</h5>
            </div>
        </div>
        <div class="card bg-dark text-white text-center" style="width: 15rem;height:10rem;">
            <img src="/Media/plus.png" alt="firstExample" class="card-img" style="background-color: darkgray; background-blend-mode: multiply; height: 100%; width: 100%;object-fit: contain;" />
            <div class="card-img-overlay">
                <h5 class="card-title">Add New Condition</h5>
            </div>
        </div>
        <div class="card bg-dark text-white text-center" style="width: 15rem;height:10rem;">
            <a asp-controller="PatientCondition" asp-action="IndexForPatient" asp-route-id=@User.FindFirst("UserId")!.Value>
                <img src="/Media/condition.png" alt="firstExample" class="card-img" style="background-color: darkgray; background-blend-mode: multiply; height: 100%; width: 100%; object-fit: cover;" />
                <div class="card-img-overlay">
                    <h5 class="card-title" style="color:black">View Chronic Conditions</h5>
                </div>
            </a>
        </div>
    </section>
    <section class="row">
        <div class="col-7 text-center card" style=" height: auto; border-radius:2rem;">
            <div class="card-header">Latest Contract</div>
            <div class="card-body">
                @if (ViewBag.PatientContract != null)
                {
                    <section class="row mx-3">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Nurse</td>
                                    @if (ViewBag.PatientContract.NurseFirstname != null)
                                    {
                                        <td>@ViewBag.PatientContract.NurseFirstname @ViewBag.PatientContract.NurseLastname</td>
                                    } else
                                    {
                                        <td>No Nurse Assigned yet</td>
                                    }
                                </tr>
                                <tr>
                                    <td>Wound</td>
                                    <td>@ViewBag.PatientContract.WoundName</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <section style="border: 2rem black">
                        <h5>Wound Progress</h5>
                        <table>
                            @foreach (var item in ViewBag.ContractVisits)
                            {
                                <tr>
                                    <td>
                                        @item.VisitDate.Day
                                        @item.VisitDate.ToString("MMMM")
                                    </td>
                                    <td>
                                        @if (@item.WoundCondition == null)
                                        {

                                            <p>...</p>
                                        }
                                        else
                                        {
                                            @item.WoundCondition
                                        }
                                    </td>
                                    <td>
                                        <button class="btn">View More</button>
                                    </td>
                                </tr>
                            }
                        </table>
                    </section>
                }
                else
                {
                    <p>No Current Contract</p>
                }
            </div>
        </div>
        <div class="card col-4" style=" height: auto; border-radius:2rem;">
            <div class="card-header">Upcoming Visits</div>
            <div class="card-body">
                <table>
                    @if (ViewBag.NextVisit.Count == 0)
                    {
                        <tr>
                            <td>No Upcoming visits</td>
                        </tr>
                    }
                    else
                    {

                        <thead>
                            <tr>
                                <th scole="col">Date</th>
                                <th scole="col">Time</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.NextVisit)
                            {
                                <tr>
                                    <td>
                                        @item.VisitDate.Day
                                        @item.VisitDate.ToString("MMM")
                                    </td>
                                    <td>
                                        @item.ApproxTime
                                    </td>
                                    <td>
                                        <button class="btn">Update</button>
                                        <button class="btn">History</button>
                                        <button class="btn">Contract</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>

            </div>
        </div>
    </section>
</div>