@model IEnumerable<HelpingHands_V2.Models.Patient>

@{
    ViewData["Title"] = "Patients";
}

<h2 class="display-4 text-center">Patients</h2>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icenumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Patients)
        {
            <tr>
                <td>
                    @item.Username
                </td>
                <td>
                    @item.Firstname
                </td>
                <td>
                    @item.Lastname
                </td>
                <td>
                    @item.ICEName
                </td>
                <td>
                    @item.ICENumber
                </td>
                <td>
                    <a asp-action="Profile" asp-route-id="@item.PatientId" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
