@model HelpingHands_V2.Models.Patient

@{
    ViewData["Title"] = @User.FindFirst("Username")!.Value;
    var EndUser = ViewBag.User;
    var Patient = ViewBag.Patient;
}

<h2 class="display-4 text-center">@User.FindFirst("FullName")!.Value's Profile</h2>

@if (User.IsInRole("P"))
{
    <a asp-action="Dashboard" asp-controller="Patient" asp-route-id="@User.FindFirst("UserId")!.Value" class="btn btn-secondary">Back</a>
}
else if (User.IsInRole("N"))
{
    <a asp-action="Dashboard" asp-controller="Nurse" asp-route-id="@User.FindFirst("UserId")!.Value" class="btn btn-secondary">Back</a>
}
else if (User.IsInRole("O"))
{
    <a asp-action="Dashboard" asp-controller="Manager" class="btn btn-secondary">Back</a>
}
else
{
    <a asp-action="Dashboard" asp-controller="Admin" class="btn btn-secondary">Back</a>
}

<hr />
<div class="row">
    <dl class="col-6">
        <dt class="col-sm-4">
            Username
        </dt>
        <dd class="col-sm-8">
            @Patient.Username
        </dd>
        <dt class="col-sm-4">
            First Name
        </dt>
        <dd class="col-sm-8">
            @Patient.Firstname
        </dd>
        <dt class="col-sm-4">
            Last Name
        </dt>
        <dd class="col-sm-8">
            @Patient.Lastname
        </dd>
        <dt class="col-sm-4">
            Date Of Birth
        </dt>
        <dd class="col-sm-8">
            @EndUser.DateOfBirth.Day @EndUser.DateOfBirth.ToString("MMMM") @EndUser.DateOfBirth.ToString("yyy")
        </dd>
        <dt class="col-sm-4">
            Email
        </dt>
        <dd class="col-sm-8">
            @EndUser.Email
        </dd>
        <dt class="col-sm-4">
            Gender
        </dt>
        <dd class="col-sm-8">
            @EndUser.Gender
        </dd>
    </dl>
    <dl class="col-6">
        <dt class="col-sm-4">
            Contact Number
        </dt>
        <dd class="col-sm-8">
            @EndUser.ContactNumber
        </dd>
        <dt class="col-sm-4">
            ID Number
        </dt>
        <dd class="col-sm-8">
            @EndUser.IDNumber
        </dd>
        @if (@Patient.AddressLineOne != null)
        {
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.AddressLineOne)
            </dt>
            <dd class="col-sm-8">
                @Patient.AddressLineOne
            </dd>
        }
        @if (@Patient.AddressLineTwo != null)
        {
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.AddressLineTwo)
            </dt>
            <dd class="col-sm-8">
                @Patient.AddressLineTwo
            </dd>
        }
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Suburb)
        </dt>
        <dd class="col-sm-8">
            @Patient.SuburbName
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Icename)
        </dt>
        <dd class="col-sm-8">
            @Patient.ICEName
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Icenumber)
        </dt>
        <dd class="col-sm-8">
            @Patient.ICENumber
        </dd>
        @if (@Patient.AdditionalInfo != null)
        {
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.AdditionalInfo)
            </dt>
            <dd class="col-sm-8">
                @Patient.AdditionalInfo
            </dd>
        }
        <dt class="col-sm-4">
            Profile Picture
        </dt>
        <dd class="col-sm-8">
            @EndUser.ProfilePicture
        </dd>
    </dl>
</div>
<div class="btn-group" role="group" aria-label="Control Panel">
    <a asp-action="Edit" asp-route-id="@Patient.PatientId" class="btn btn-success">Edit</a>
    <a asp-action="ChangePassword" asp-controller="EndUser" asp-route-id="@Patient.PatientId" class="btn btn-success">ChangePassword</a>
    <form asp-action="Delete">
        <input asp-for="PatientId" value="@Patient.PatientId" type="hidden" />
        <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete: @Patient.Firstname @Patient.Lastname?')" class="btn btn-danger" />
    </form>
</div>
