@model HelpingHands_V2.Models.Patient

@{
    ViewData["Title"] = @User.FindFirst("Username")!.Value;
    var Message = ViewBag.Message;
}

<h2 class="display-4 text-center">@User.FindFirst("FullName")!.Value's Profile</h2>
@if (Message != null)
{
    <p class="text-decoration-underline text-danger">@Message</p>
}

@if (User.IsInRole("P"))
{
    <a asp-action="Dashboard" asp-controller="Patient" asp-route-id="@User.FindFirst("UserId")!.Value" class="btn btn-secondary">Back</a>
}
else if (User.IsInRole("N"))
{
    <a asp-action="Dashboard" asp-controller="Nurse" asp-route-id="@User.FindFirst("UserId")!.Value" class="btn btn-secondary">Back</a>
}
else if (User.IsInRole("O"))
{
    <a asp-action="Dashboard" asp-controller="Manager" class="btn btn-secondary">Back</a>
}
else
{
    <a asp-action="Index" asp-controller="Patient" class="btn btn-secondary">Back</a>
}

<hr />
<div class="row">
    <dl class="col-6">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EndUser!.Username)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.EndUser!.Username)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EndUser!.Firstname)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.EndUser!.Firstname)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EndUser!.Lastname)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.EndUser!.Lastname)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EndUser!.DateOfBirth)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.EndUser!.DateOfBirth)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EndUser!.Email)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.EndUser!.Email)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EndUser!.Gender)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.EndUser!.Gender)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EndUser!.ContactNumber)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.EndUser!.ContactNumber)
        </dd>
    </dl>
    <dl class="col-6">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EndUser!.Idnumber)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.EndUser!.Idnumber)
        </dd>
        @if (Model.AddressLineOne != null)
        {
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.AddressLineOne)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.AddressLineOne)
            </dd>
        }
        @if (Model.AddressLineTwo != null)
        {
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.AddressLineTwo)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.AddressLineTwo)
            </dd>
        }
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Suburb)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Suburb!.SuburbName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Icename)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Icename)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Icenumber)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Icenumber)
        </dd>
        @if (Model.AdditionalInfo != null)
        {
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.AdditionalInfo)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.AdditionalInfo)
            </dd>
        }
    </dl>
</div>
<div class="btn-group" role="group" aria-label="Control Panel">
    @if (User.IsInRole("A") || User.IsInRole("P"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.PatientId" class="btn btn-success">Edit Patient Info</a>
        <a asp-action="Edit" asp-controller="EndUser" asp-route-id="@Model?.PatientId" class="btn btn-success">Edit User Info</a>
        <a asp-action="ChangePassword" asp-controller="EndUser" asp-route-id="@Model?.PatientId" class="btn btn-success">ChangePassword</a>
        <form asp-action="Delete">
            <input asp-for="PatientId" value="@@Model?.PatientId" type="hidden" />
            <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete: @Model?.EndUser!.Firstname @Model?.EndUser!.Lastname?')" class="btn btn-danger" />
        </form>
    }
</div>
