@model IEnumerable<HelpingHands_V2.Models.PatientCondition>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-id="@User.FindFirst("UserId")!.Value">Create New</a>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.PatientConditions)
        {
            <tr>
                <td>
                    @item.ConditionName
                </td>
                <td>
                    @item.PatientFirstname @item.PatientLastname
                </td>
                <td>
                    <a asp-action="Edit" asp-route-patientId="@item.PatientId" asp-route-conditionId="@item.ConditionId">Edit</a> |
                    <a asp-action="Details" asp-route-patientId="@item.PatientId" asp-route-conditionId="@item.ConditionId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PatientId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
