@model IEnumerable<HelpingHands_V2.Models.PatientCondition>

@{
    ViewData["Title"] = "Patient's Conditions";
}

<h2 class="display-4 text-center">@User.FindFirst("FullName")!.Value's Conditions</h2>
<hr />
<a asp-action="Create" asp-route-id="@User.FindFirst("UserId")!.Value" class="btn btn-primary">Create New</a>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.PatientConditions)
        {
            <tr>
                <td>
                    @item.ConditionName
                </td>
                <td>
                    @item.PatientFirstname @item.PatientLastname
                </td>
                <td>
                    <a asp-action="Details" asp-route-patientId="@item.PatientId" asp-route-conditionId="@item.ConditionId" class="btn btn-info">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
