@model IEnumerable<HelpingHands_V2.Models.PatientCondition>

@{
    ViewData["Title"] = "Patient Conditions";
    var Message = ViewBag.Message;
}

<h2 class="display-4 text-center">Patient Conditions</h2>
@if (Message != null)
{
    <p class="text-decoration-underline text-danger">@Message</p>
}
<hr />
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Condition!.ConditionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient!.FullName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-patientId="@item.PatientId" asp-route-conditionId="@item.ConditionId" class="btn btn-info">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
