@using System.Linq
@{
    ViewData["Title"] = "Nurse Dashboard";
    var Message = ViewBag.Message;
    var Visits = ViewBag.NextVisits;
    var Contracts = ViewBag.Contracts;
}
<h2 class="display-4 text-center">Nurse Dashboard</h2>
@if (Message != null)
{
    <p class="text-decoration-underline text-danger">@Message</p>
}

<hr />
<div class="container-fluid" style="height: auto">
    <section class="row" style="overflow-x: scroll">
        <div class="card bg-dark text-white text-center" style="width: 15rem;height:10rem;">
            <img src="/Media/contract.png" alt="firstExample" class="card-img" style="background-color: darkgray; background-blend-mode: multiply; height: 100%; width: 100%;object-fit: contain;" />
            <div class="card-img-overlay">
                <h5 class="card-title" style="color:black">Past Contracts</h5>
            </div>
        </div>
        <div class="card bg-dark text-white text-center" style="width: 15rem;height:10rem;">
            <img src="/Media/plus.png" alt="firstExample" class="card-img" style="background-color: darkgray; background-blend-mode: multiply; height: 100%; width: 100%;object-fit: contain;" />
            <div class="card-img-overlay">
                <h5 class="card-title">Add New Condition</h5>
            </div>
        </div>
        <div class="card bg-dark text-white text-center" style="width: 15rem;height:10rem;">
            <img src="/Media/condition.png" alt="firstExample" class="card-img" style="background-color: darkgray; background-blend-mode: multiply; height: 100%; width: 100%; object-fit: cover;" />
            <div class="card-img-overlay">
                <h5 class="card-title" style="color:black">View Chronic Conditions</h5>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="card col-5" style=" height: auto; border-radius:2rem;">
            <div class="card-header">Upcoming Visits</div>
            <div class="card-body">
                <section class="row mx-3" style="border: 2rem black">
                    <table>
                        @if (Visits.Count > 0)
                        {
                            <thead>
                                <tr>
                                    <th scole="col">Patient</th>
                                    <th scole="col">Date</th>
                                    <th scole="col">Time</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    @for (int i = 0; i < ViewBag.NextVisits.Count; i++)
                                    {
                                        <td>

                                            @ViewBag.Contracts[i].PatientFirstname
                                            @ViewBag.Contracts[i].PatientLastname
                                        </td>
                                        <td>
                                            @ViewBag.NextVisits[i].VisitDate.Day
                                            @ViewBag.NextVisits[i].VisitDate.ToString("MMM")
                                        </td>
                                        <td>
                                            @ViewBag.NextVisits[i].ApproxTime
                                        </td>
                                        <td>
                                            <button class="btn">Update</button>
                                            <button class="btn">History</button>
                                            <button class="btn">Contract</button>
                                        </td>
                                    }
                                </tr>
                            </tbody>
                        }
                        else
                        {
                            <tr>
                                <td>No Upcoming visits</td>
                                <td>Schedule Visit</td>
                            </tr>
                            
                        }  
                    </table>
                </section>

            </div>
        </div>
        <div class="card col-6" style=" height: auto; border-radius:2rem;">
            @if (Contracts.Count > 0)
            {
                <div class="card-header">Latest Contract</div>
                <div class="card-body">
                    <section>
                        <table class="table">
                            <tbody>
                            @foreach(var Contract in ViewBag.Contracts)
                            {
                                    <tr>
                                        <td>Patient</td>
                                        <td>@Contract.PatientFirstname @Contract.PatientLastname</td>
                                    </tr>
                                    <tr>
                                        <td>Wound</td>
                                        <td>@Contract.WoundName</td>
                                    </tr>
                                    <tr>
                                        <td>Contract Date</td>
                                        <td>@Contract.ContractDate.Day @Contract.ContractDate.ToString("MMMM")</td>
                                    </tr>
                                    <tr>
                                        <a asp-controller="Visit" asp-action="Create" asp-route-id="@Contract.ContractId" class="btn btn-outline-primary">Schedule new visit</a>
                                        <a asp-controller="Contract" asp-action="Details" asp-route-id="@Contract.ContractId" class="btn btn-outline-dark">View Contract</a>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </section>
                </div>

            }
            else
            {
                <div class="card-header">Unassigned Contracts</div>
                <div class="card-body">
                    <section>
                        <h4>You have no assigned contracts. Here are a list of some available:</h4>
                    </section>
                    <table>
                        @if (ViewBag.UnassignedContracts.Count == 0)
                        {
                            <tr>
                                <td>No New Contracts</td>
                            </tr>
                        }
                        else
                        {

                            <thead>
                                <tr>
                                    <th class="col-3">Patient</th>
                                    <th class="col-3">Contract Date</th>
                                    <th class="col-3">Suburb</th>
                                    <th class="col-3"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.UnassignedContracts)
                                {
                                    <tr>
                                        <td>

                                            @item.PatientFirstname
                                            @item.PatientLastname
                                        </td>
                                        <td>
                                            @item.ContractDate.Day
                                            @item.ContractDate.ToString("MMMM")
                                        </td>
                                        <td>
                                            @item.SuburbName
                                        </td>
                                        <td>
                                            <a asp-controller="Contract" asp-action="Edit" asp-route-id="@item.ContractId">Apply</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        }
                    </table>

                </div>
            }
        </div>
    </section>
</div>
