

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Grade</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in ViewBag.Nurses) {
        <tr>
            <td>
                @item.Username
            </td>
            <td>
                @item.Firstname
            </td>
            <td>
                @item.Lastname
            </td>
            <td>
                @item.Grade
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NurseId">Edit</a> |
                <a asp-action="Profile" asp-route-id="@item.NurseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NurseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
