@model HelpingHands_V2.Models.Nurse

@{
    ViewData["Title"] = "Profile";
    var User = ViewBag.User;
    var Nurse = ViewBag.Nurse;
}

<h1>Profile</h1>
<div>
    <h4>EndUser</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Username
        </dt>
        <dd class = "col-sm-10">
            @Nurse.Username
        </dd>
        <dt class = "col-sm-2">
            First Name
        </dt>
        <dd class = "col-sm-10">
            @Nurse.Firstname
        </dd>
        <dt class = "col-sm-2">
            Last Name
        </dt>
        <dd class = "col-sm-10">
            @Nurse.Lastname
        </dd>
        <dt class = "col-sm-2">
            Date Of Birth
        </dt>
        <dd class = "col-sm-10">
            @User.DateOfBirth.Day @User.DateOfBirth.ToString("MMMM") @User.DateOfBirth.ToString("yyy")
        </dd>
        <dt class = "col-sm-2">
            Email
        </dt>
        <dd class = "col-sm-10">
            @User.Email
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd class="col-sm-10">
            @Nurse.Grade
        </dd>
        <dt class = "col-sm-2">
            Gender
        </dt>
        <dd class = "col-sm-10">
            @User.Gender
        </dd>
        <dt class = "col-sm-2">
            Contact Number
        </dt>
        <dd class = "col-sm-10">
            @User.ContactNumber
        </dd>
        <dt class = "col-sm-2">
            ID Number
        </dt>
        <dd class = "col-sm-10">
            @User.Idnumber
        </dd>
        <dt class = "col-sm-2">
            Profile Picture
        </dt>
        <dd class = "col-sm-10">
            @User.ProfilePicture
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Nurse.NurseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <form asp-action="Delete">
        <input asp-for="NurseId" value="@Nurse.NurseId" type="hidden" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
    </form>
</div>
