@model HelpingHands_V2.Models.Nurse

@{
    ViewData["Title"] = @User.FindFirst("Username")!.Value;
    var EndUser = ViewBag.User;
    var Nurse = ViewBag.Nurse;
}

<h2 class="display-4 text-center">Profile</h2>

@if (User.IsInRole("P"))
{
    <a asp-action="Dashboard" asp-controller="Patient" asp-route-id="@User.FindFirst("UserId")!.Value" class="btn btn-secondary">Back</a>
}
else if (User.IsInRole("N"))
{
    <a asp-action="Dashboard" asp-controller="Nurse" asp-route-id="@User.FindFirst("UserId")!.Value" class="btn btn-secondary">Back</a>
}
else if (User.IsInRole("O"))
{
    <a asp-action="Dashboard" asp-controller="Manager" class="btn btn-secondary">Back</a>
}
else
{
    <a asp-action="Dashboard" asp-controller="Admin" class="btn btn-secondary">Back</a>
}

<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Username
        </dt>
        <dd class = "col-sm-10">
            @Nurse.Username
        </dd>
        <dt class = "col-sm-2">
            First Name
        </dt>
        <dd class = "col-sm-10">
            @Nurse.Firstname
        </dd>
        <dt class = "col-sm-2">
            Last Name
        </dt>
        <dd class = "col-sm-10">
            @Nurse.Lastname
        </dd>
        <dt class = "col-sm-2">
            Date Of Birth
        </dt>
        <dd class = "col-sm-10">
            @EndUser.DateOfBirth.Day @EndUser.DateOfBirth.ToString("MMMM") @EndUser.DateOfBirth.ToString("yyy")
        </dd>
        <dt class = "col-sm-2">
            Email
        </dt>
        <dd class = "col-sm-10">
            @EndUser.Email
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd class="col-sm-10">
            @Nurse.Grade
        </dd>
        <dt class = "col-sm-2">
            Gender
        </dt>
        <dd class = "col-sm-10">
            @EndUser.Gender
        </dd>
        <dt class = "col-sm-2">
            Contact Number
        </dt>
        <dd class = "col-sm-10">
            @EndUser.ContactNumber
        </dd>
        <dt class = "col-sm-2">
            ID Number
        </dt>
        <dd class = "col-sm-10">
            @EndUser.Idnumber
        </dd>
        <dt class = "col-sm-2">
            Profile Picture
        </dt>
        <dd class = "col-sm-10">
            @EndUser.ProfilePicture
        </dd>
    </dl>
</div>
<div class="btn-group" role="group" aria-label="Control Panel">
    <a asp-action="Edit" asp-route-id="@Nurse.NurseId" class="btn btn-success">Edit</a>
    <form asp-action="Delete">
        <input asp-for="NurseId" value="@Nurse.NurseId" type="hidden" />
        <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete your account @Nurse.Firstname @Nurse.Lastname?')" class="btn btn-danger" />
    </form>
</div>
