@model HelpingHands_V2.Models.Nurse

@{
    ViewData["Title"] = @User.FindFirst("Username")!.Value;
    var Message = ViewBag.Message;
}

<h2 class="display-4 text-center">Profile</h2>
@if (Message != null)
{
    <p class="text-decoration-underline text-danger">@Message</p>
}

@if (User.IsInRole("P"))
{
    <a asp-action="Dashboard" asp-controller="Patient" asp-route-id="@User.FindFirst("UserId")!.Value" class="btn btn-secondary">Back</a>
}
else if (User.IsInRole("N"))
{
    <a asp-action="Dashboard" asp-controller="Nurse" asp-route-id="@User.FindFirst("UserId")!.Value" class="btn btn-secondary">Back</a>
}
else if (User.IsInRole("O"))
{
    <a asp-action="Dashboard" asp-controller="Manager" class="btn btn-secondary">Back</a>
}
else
{
    <a asp-action="Index" asp-controller="Nurse" class="btn btn-secondary">Back</a>
}

<hr />
<div class="row">
    <dl class="col-6">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EndUser!.Username)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.EndUser!.Username)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EndUser!.Firstname)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.EndUser!.Firstname)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EndUser!.Lastname)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.EndUser!.Lastname)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EndUser!.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndUser!.DateOfBirth)
        </dd>
    </dl>
    <dl class="col-6">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EndUser!.Email)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.EndUser!.Email)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EndUser!.Gender)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.EndUser!.Gender)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EndUser!.ContactNumber)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.EndUser!.ContactNumber)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EndUser!.Idnumber)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.EndUser!.Idnumber)
        </dd>
    </dl>
</div>
@if (User.IsInRole("N") || User.IsInRole("A"))
{
    <div class="btn-group" role="group" aria-label="Control Panel">
        <a asp-action="Edit" asp-route-id="@Model?.NurseId" class="btn btn-success">Edit Nurse Info</a>
        <a asp-action="Edit" asp-controller="EndUser" asp-route-id="@Model?.NurseId" class="btn btn-success">Edit User Info</a>
        <a asp-action="ChangePassword" asp-controller="EndUser" asp-route-id="@Model?.NurseId" class="btn btn-success">ChangePassword</a>
        <form asp-action="Delete">
            <input asp-for="NurseId" value="@Model?.NurseId" type="hidden" />
            <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete your account @Model?.EndUser!.Firstname @Model?.EndUser!.Lastname')" class="btn btn-danger" />
        </form>
    </div>
} else if(User.IsInRole("O"))
{
    <form asp-controller="Manager" asp-action="ApproveNurse" method="post">
        <input asp-for="EndUser!.UserId" name="UserId" type="hidden" />
        <input asp-for="EndUser!.Username" name="Username" type="hidden" />
        <input asp-for="EndUser!.Firstname" name="Firstname" type="hidden" />
        <input asp-for="EndUser!.Lastname" name="Lastname" type="hidden" />
        <input asp-for="EndUser!.DateOfBirth" name="DateOfBirth" type="hidden" />
        <input asp-for="EndUser!.Email" name="Email" type="hidden" />
        <input asp-for="EndUser!.Password" name="Password" type="hidden" />
        <input asp-for="EndUser!.ConfirmPassword" name="ConfirmPassword" type="hidden" />
        <input asp-for="EndUser!.Gender" name="Gender" type="hidden" />
        <input asp-for="EndUser!.ContactNumber" name="ContactNumber" type="hidden" />
        <input asp-for="EndUser!.Idnumber" name="Idnumber" type="hidden" />
        <input asp-for="EndUser!.UserType" name="UserType" type="hidden" />
        <input asp-for="EndUser!.ApplicationType" name="ApplicationType" type="hidden" />
        <input asp-for="EndUser!.ProfilePicture" name="ProfilePicture" type="hidden" />
        <input asp-for="EndUser!.ProfilePictureName" name="ProfilePictureName" type="hidden" />
        <input asp-for="EndUser!.Active" name="Active" type="hidden" />
        <input type="submit" value="Approve Nurse" class="btn btn-primary" />
    </form>
}