@model IEnumerable<HelpingHands_V2.Models.Visit>
@{
    ViewData["Title"] = "VisitRange";
    var Range = ViewBag.VisitRange;
    var Message = ViewBag.Message;
}

<h2 class="display-4 text-center">Visit Range</h2>
@if (Message != null)
{
    <p class="text-decoration-underline text-danger">@Message</p>
}

<section class="row">
    <form asp-action="VisitRange">
        <input name="NurseId" value="@User.FindFirst("UserId")!.Value" hidden/>
        <div class="form-group">
            <label class="control-label">Start</label>
            <input name="StartDate" type="date" class="form-control" required/>
        </div>
        <div class="form-group">
            <label class="control-label">End</label>
            <input name="EndDate" type="date" class="form-control" required />
        </div>

        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </form>
</section>

<section class="row">
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VisitDate)
                </th>
                <th>
                    Patient
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApproxTime)
                </th>
                <th>
                    Wound
                </th>
                <th>
                    Suburb
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Arrival)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WoundCondition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contract)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Range.Count > 0)
            {
                @foreach (var item in Range)
                {
                    <tr>
                        <td>
                            @item.VisitDate.Day @item.VisitDate.ToString("MMM")
                        </td>
                        <td>
                            @item.PatientFirstname @item.PatientLastname
                        </td>
                        <td>
                            @item.ApproxTime
                        </td>
                        <td>
                            @item.WoundName
                        </td>
                        <td>
                            @item.SuburbName
                        </td>
                        @if (item.Arrival != null)
                        {
                            <td>
                                @item.Arrival
                            </td>
                        }
                        else
                        {
                            <td>N/A</td>
                        }
                        @if (item.WoundCondition != null)
                        {
                            <td>
                                @item.WoundCondition
                            </td>
                        }
                        else
                        {
                            <td>N/A</td>
                        }
                        <td>
                            @item.ContractId
                        </td>
                        <td>
                            <a asp-action="Details" asp-controller="Visit" asp-route-id="@item.VisitId" class="btn btn-info">View</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <h5>No Visits were found</h5>
            }
        </tbody>
    </table>
</section>