@model HelpingHands_V2.ViewModels.CitiesAndCity

@{
    ViewData["Title"] = "Index";
    var Message = ViewBag.Message;
}


<h2 class="display-4 text-center">Cities</h2>
@if (Message != null)
{
    <p class="text-decoration-underline text-danger">@Message</p>
}
<hr />
<a asp-action="Create" class="btn btn-primary">Add New</a>

<div class="container-fluid">
    <div class="row row-cols-auto">
        <div class="col-lg-8">
            <table class="table" id="myTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.City!.CityName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.City!.CityAbbreviation)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Cities!)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CityName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CityAbbreviation)
                            </td>
                            <td>
                                <div class="btn-group">
                                    <form asp-action="Index">
                                        <input asp-for="@item.CityId" name="CityId" value="@item.CityId" type="hidden" />
                                        <input type="submit" value="Edit" class="btn btn-success" />
                                    </form>
                                    <form asp-action="Delete">
                                        <input asp-for="@item.CityId" name="CityId" value="@item.CityId" type="hidden" />
                                        <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete: @item.CityName?')" class="btn btn-danger" />
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            @if (Model.City != null)
            {
                <h2 class="display-4 text-center">Edit @Model?.City!.CityName</h2>
                @if (Message != null)
                {
                    <p class="text-decoration-underline text-danger">@Message</p>
                }
                <section class="px-5 py-4">
                    <hr />
                </section>
                <div class="row">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="City!.CityId" />
                        <div class="col-12">
                            <div class="input-group-sm">
                                <label asp-for="City!.CityName" class="form-label"></label>
                                <input asp-for="City!.CityName" class="form-control" />
                                <span asp-validation-for="City!.CityName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="input-group-sm">
                                <label asp-for="City!.CityAbbreviation" class="form-label"></label>
                                <input asp-for="City!.CityAbbreviation" class="form-control" />
                                <span asp-validation-for="City!.CityAbbreviation" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row justify-content-center g-2 py-4">
                                <div class="btn-group col-auto">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            }
            else
            {
                <span>Select City to edit</span>
            }
        </div>
    </div>
</div>
