@model IEnumerable<HelpingHands_V2.Models.City>

@{
    ViewData["Title"] = "Index";
    var Message = ViewBag.Message;
}


<h2 class="display-4 text-center">Cities</h2>
@if (Message != null)
{
    <p class="text-decoration-underline text-danger">@Message</p>
}
<hr />
<a asp-action="Create" class="btn btn-primary">Add New</a>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityAbbreviation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CityAbbreviation)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CityId" class="btn btn-info">View</a>

                </td>
            </tr>
        }
    </tbody>
</table>
