@{
    ViewData["Title"] = "Admin Dashboard";
}
<h2 class="display-1 text-center">Hello @User.Identity?.Name</h2>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link" href="#employees">Employees</a>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link ms-3 my-1" href="#managers">Managers</a>
                        <a class="nav-link ms-3 my-1" href="#nurses">Nurses</a>
                    </nav>
                    <a class="nav-link" href="#locations">Location</a>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link ms-3 my-1" href="#cities">Cities</a>
                        <a class="nav-link ms-3 my-1" href="#suburbs">Suburbs</a>
                    </nav>
                </nav>
            </nav>

        </div>
        <div class="col-7">
            <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
                <div id="employees">
                    <h3 class="display-4">Employees</h3>
                    <p>Employees that are currently operating in Helping Hands</p>
                </div>
                <div id="managers" class="table-responsive">
                    <h4 class="display-6">Office Managers</h4>
                    <table class="table table-sm table-hover table-striped">
                        <thead>
                            <tr>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Username</th>
                                <th scope="col">Profile</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            @foreach (var manager in ViewBag.Managers)
                            {
                                <tr scope="row">
                                    <td>@manager.Firstname</td>
                                    <td>@manager.Lastname</td>
                                    <td>@manager.Username</td>
                                    <td>@manager.ProfilePicture</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="#">...See More</a>
                </div>
                <div id="nurses" class="table-responsive">
                    <h4 class="display-6">Nurses</h4>
                    <table class="table table-sm table-hover table-striped">
                        <thead>
                            <tr>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Username</th>
                                <th scope="col">Profile</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            @foreach (var nurse in ViewBag.Nurses)
                            {
                                <tr scope="row">
                                    <td>@nurse.Firstname</td>
                                    <td>@nurse.Lastname</td>
                                    <td>@nurse.Username</td>
                                    <td>@nurse.ProfilePicture</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="#">...See More</a>
                </div>
                <div id="locations">
                    <h3 class="display-4">Locations</h3>
                    <p>Cities and Suburbs currently logged on the system</p>
                </div>
                <div id="cities" class="table-responsive">
                    <h4 class="display-6">Cities</h4>
                    <table class="table table-sm table-hover table-striped">
                        <thead>
                            <tr>
                                <th scope="col">City Name</th>
                                <th scope="col">City Abbreviation</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            @foreach (var city in ViewBag.Cities)
                            {
                                <tr scope="row">
                                    <td>@city.CityName</td>
                                    <td>@city.CityAbbreviation</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="#">...See More</a>
                </div>
                <div id="suburbs" class="table-responsive">
                    <h4 class="display-6">Suburbs</h4>
                    <table class="table table-sm table-hover table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Suburb Name</th>
                                <th scope="col">Postal Code</th>
                                <th scope="col">City</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            @foreach (var suburb in ViewBag.Suburbs)
                            {
                                <tr scope="row">
                                    <td>@suburb.SuburbName</td>
                                    <td>@suburb.PostalCode</td>
                                    <td>@suburb.CityName</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="#">...See More</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-header">@ViewBag.Business.OrganizationName</div>
                <div class="card-body">
                    <p class="card-text">@ViewBag.Business.AddressLineOne <br/>@ViewBag.Business.AddressLineTwo<br/>
                    @ViewBag.Business.SuburbName</p>
                    <a href="mailto: @ViewBag.Business.Email" class="card-link">@ViewBag.Business.Email</a>
                    <a href="tel:@ViewBag.Business.ContactNumber" class="card-link">@ViewBag.Business.ContactNumber</a>
                    <br/>
                    <button>Edit</button>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Operational Hours:
                </div>
                <ul class="list-group list-group-flush">
                    @foreach (var item in ViewBag.Operation)
                    {
                        <li class="list-group-item">@item.OperationDay  @item.OpenTime - @item.CloseTime</li>
                    }
                </ul>
                <button>Edit</button>
            </div>
        </div>
    </div>
</div>