@model HelpingHands_V2.Models.Visit

@{
    ViewData["Title"] = "Details";
    var Message = ViewBag.Message;
}

<section class="container-fluid" id="Details">
    <h2 class="display-4 text-center p-2">Visit Details</h2>
    @if (Message != null)
    {
        <p class="text-decoration-underline text-danger">@Message</p>
    }
    <div class="px-5 btn-group">
        @if (User.IsInRole("N"))
        {
            <a asp-action="Dashboard" asp-controller="Nurse" asp-route-id="@User.FindFirst("UserId")!.Value" class="btn btn-secondary">Dashboard</a>
        }
        else if (User.IsInRole("P"))
        {
            <a asp-action="Dashboard" asp-controller="Patient" asp-route-id="@User.FindFirst("UserId")!.Value" class="btn btn-secondary">Dashboard</a>
        }
        else
        {
            <a asp-action="Index" class="btn btn-secondary">Back</a>
        }
        <a asp-action="Details" asp-controller="Contract" asp-route-id="@Model.ContractId" class="btn btn-secondary">Contract</a>
    </div>
    <div class="px-5">
        <hr />
    </div>
    <div class="container-fluid">
        <div class="row row-cols-1 justify-content-center">
            <dl class="col-md-3">
                <dt class="col-sm-12">
                    @Html.DisplayNameFor(model => model.VisitDate)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.VisitDate)
                </dd>
                <dt class="col-sm-12">
                    @Html.DisplayNameFor(model => model.ApproxTime)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.ApproxTime)
                </dd>
                <dt class="col-sm-12">
                    @Html.DisplayNameFor(model => model.Arrival)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.Arrival)
                </dd>
                <dt class="col-sm-12">
                    @Html.DisplayNameFor(model => model.Departure)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.Departure)
                </dd>
                <dt class="col-sm-12">
                    @Html.DisplayNameFor(model => model.WoundCondition)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.WoundCondition)
                </dd>
                <dt class="col-sm-12">
                    @Html.DisplayNameFor(model => model.Note)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.Note)
                </dd>
            </dl>
        </div>
        @if (User.IsInRole("N"))
        {
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <div class="btn-group">
                        <a asp-action="Edit" asp-route-id="@Model?.VisitId" class="btn btn-success">Edit</a>
                        <form asp-action="Delete">
                            <input asp-for="VisitId" value="@Model?.VisitId" type="hidden" />
                            <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete visit: #@Model?.VisitId?')" class="btn btn-danger" />
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</section>