@model IEnumerable<HelpingHands_V2.Models.Visit>

@{
    ViewData["Title"] = "Visits";
    var Message = ViewBag.Message;
}

<h2 class="display-4 text-center">Visits</h2>
@if (Message != null)
{
    <p class="text-decoration-underline text-danger">@Message</p>
}
<hr />
@if (User.IsInRole("P"))
{
    <a asp-action="Dashboard" asp-controller="Patient" asp-route-id="@User.FindFirst("UserId")!.Value" class="btn btn-secondary">Back</a>
}
else if (User.IsInRole("N"))
{
    <a asp-action="Create" class="btn btn-primary">Create New</a>
    <a asp-action="Dashboard" asp-controller="Nurse" asp-route-id="@User.FindFirst("UserId")!.Value" class="btn btn-secondary">Back</a>
}
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VisitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApproxTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WoundCondition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VisitDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApproxTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Arrival)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WoundCondition)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.VisitId" class="btn btn-info">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
