@{
    ViewData["Title"] = "Home Page";
    var Business = ViewBag.Business;
}

<div class="text-center">
    <h1 class="display-1">Welcome to Helping Hands</h1> 
</div>
<div class="container">
    <h3 class="display-6 text-center">Primary wound care for the elderly</h3>
    <section class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-header">@Business.OrganizationName</div>
            <div class="card-body">
                <p class="card-text">
                    @Business.AddressLineOne <br />@Business.AddressLineTwo<br />
                    @Business.SuburbName
                </p>
                <a href="mailto: @Business.Email" class="card-link">@Business.Email</a>
                <a href="tel:@Business.ContactNumber" class="card-link">@Business.ContactNumber</a>
                <br />
            </div>
        </div>
        <div class="card" >
            <div class="card-header">
                Operational Hours:
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Hours of Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.Operation)
                        {
                            <tr>
                                <td>
                                    @item.OperationDay
                                </td>
                                <td>
                                    @item.OpenTime - @item.CloseTime
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
